* {
    background-color: rgb(18, 126, 102);
}

.name {
    color:rgb(128, 0, 0)
}

.header {
 color: rgb(128, 0, 0);  
 font-size: 10vmin; 
}

.h3 {
    color: rgb(128, 0, 0);
    font-family: sans-serif;
}

.s {
    color: rgb(228, 214, 16);
    font-family: sans-serif;
}
